[submodule "com.nebukam.orca"]
	path = com.nebukam.orca
	url = https://github.com/Nebukam/com.nebukam.orca
[submodule "NavMeshComponents"]
	path = NavMeshComponents
	url = https://github.com/Unity-Technologies/NavMeshComponents.git
[submodule "recastnavigation"]
	path = recastnavigation
	url = https://github.com/recastnavigation/recastnavigation
[submodule "NavMesh-Tutorial"]
	path = NavMesh-Tutorial
	url = https://github.com/Brackeys/NavMesh-Tutorial.git
